---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/panino-nobg.png";
import Button from "../components/Button";
import { Menu, MapPin, SquareMenu, Grape, CookingPot } from "lucide-react";
---

<Layout>
  <div class="min-h-screen flex flex-col">
    <div
    class="w-full flex flex-col p-16 pt-32 flex-grow justify-center items-center"
  >
    <section class="flex w-[85%] items-center justify-center gap-7">
      <div class="flex flex-col gap-6 w-1/2">
        <p class="text-7xl font-bold fade-up">
          Tuscan Style Foccacia Sandwiches
        </p>
        <p class="text-xl fade-up">
          Experience authentic Italian flavors with our handcrafted focaccia
          sandwiches, made fresh daily using traditional Tuscan recipes.
        </p>

        <div class="flex gap-4 fade-up">
          <Button>
            <Menu />
            Order Now
          </Button>

          <Button type="secondary">
            <MapPin />
            Get Directions
          </Button>
        </div>
      </div>

      <div class="image-container aspect-square w-1/3 rounded-full p-6">
        <Image
          src={logo}
          alt="Panino logo"
          class="w-full h-full object-cover"
        />
      </div>
    </section>
  </div>

  <div class="w-full flex flex-col items-center overflow-hidden">
    <section
      class="flex items-center w-full justify-evenly gap-6 bg-forest text-peach h-full p-7"
      id="flavor-text-container"
    >
      <div class="flex flex-col text-center w-1/5 items-center flavor-text">
        <SquareMenu size={"1.8rem"} />
        <p class="text-2xl font-semibold mt-4 mb-3">Fresh Daily Menu</p>
        <p>
          Focaccia sandwiches made fresh every day, using local ingredients and
          inspired by Tuscan traditions.
        </p>
      </div>

      <div class="flex flex-col text-center w-1/5 items-center flavor-text">
        <Grape size={"1.8rem"} />
        <p class="text-2xl font-semibold mt-4 mb-3">A Taste of Tuscany</p>
        <p>
          Experience the flavors of Italy with sandwiches inspired by the
          classic recipes of Tuscany.
        </p>
      </div>

      <div class="flex flex-col text-center w-1/5 items-center flavor-text">
        <CookingPot size={"1.8rem"} className="text-white" />
        <p class="text-2xl font-semibold mt-4 mb-3">Crafted with Care</p>
        <p>
          Bringing the art of Italian-inspired breadmaking to your table, served
          quickly and with love.
        </p>
      </div>
    </section>
  </div>
  </div>
  
</Layout>

<script>
  import { animateFadeUp, animateLogo, animateTranslateY } from "../animations";

  animateFadeUp(".fade-up", 20, {
    staggerChildren: 0.35,
  });
  animateLogo();

  animateTranslateY("#flavor-text-container", 50, {
    duration: 0.6,
  });

  animateFadeUp(".flavor-text", 20, {
    staggerChildren: 0.2,
    delay: 0.6,
  });
</script>
