---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import logo from '../assets/panino-nobg.png';
import Button from '../components/Button';

---

<Layout>

	<div class="bg-forest text-peach w-full flex flex-col items-center p-16">
		<section class="flex flex-col w-4/5 items-center justify-center gap-6 ">
			<p class="text-6xl font-bold text-center">Tuscan Style Foccacia Sandwiches</p>
			<p class="text-xl text-center">Experience authentic Italian flavors with our handcrafted focaccia sandwiches, made fresh daily using traditional Tuscan recipes.</p>

			<div class="image-container aspect-square w-1/3 rounded-full bg-peach p-6">
				<Image src={logo} alt="Panino logo" class='w-full h-full object-cover'/>
			</div>

			<div class="flex">
				<Button text='Yadadyada' />
				<Button text='Yadadyada' type='secondary' className='RAHAHAHAHHA'/>
			</div>
		</section>

	</div>

		<div class="w-full flex flex-col items-center p-16">
		<section class="flex flex-col w-4/5 items-center justify-center gap-6">
			<p class="text-4xl font-bold text-center">Our Menu</p>
			<p class="text-xl text-center">Choose from a variety of delicious sandwiches, salads, and sides, all made with the freshest ingredients and served with a smile.</p>
		</section>
		</div>


	</div>





</Layout>

