<div id="header" class="flex items-center justify-between py-6 border-b-2 border-b-forest">
    <a href="/" class="flex items-center">
        <img src="/favicon.svg" alt="Astro logo" class="w-8 h-8" />
        <h1 class="ml-2 text-2xl font-bold">PANINO</h1>
    </a>
    <nav>
        <a href="/docs" class="text-blue-600">Docs</a>
    </nav>
</div>