---
import { Image } from "astro:assets";
import logo from "../assets/panino-nobg.png";
---

<div
  id="header"
  class="flex items-center justify-between py-5 bg-forest/90 text-peach fixed top-0 left-0 right-0 z-50 px-6"
>
  <a href="/" class="flex items-center">
    <Image src={logo} alt="Panino logo" class="w-8 h-8" />
    <h1 class="ml-2 text-2xl font-bold">PANINO</h1>
  </a>
  <nav class="flex gap-6" id="nav">
    <a href="/" class="hover:underline">Home</a>
    <a href="/" class="hover:underline">Gallery</a>
    <a href="/" class="hover:underline">About</a>
  </nav>
</div>

<script>
  import { animateFadeUp, animateTranslateY } from "../animations";

  const header = document.querySelectorAll("#header");
  animateTranslateY(header, -50, {
    duration: 0.6,
  });

  const links = document.querySelectorAll("#nav a");
  animateFadeUp(
    links,
    20,
    {
      staggerChildren: 0.2,
      delay: 0.6,
    },
    false
  );
</script>
